.profile-orders {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    height: 700px;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
        padding: 20px;
    }
}
