.orders {
    display: flex;
    flex-direction: column;

    &__container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 0 auto;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    border-color: black;
    &__details {
        display: flex;
        align-items: center;
        max-width: 20%;
        margin: 20px;
        font-size: 10px;
    }
    &__price {
        justify-content: end;
        align-content: flex-end;

        text-align: right;

        max-width: 10%;
    }
}

.orders__search_input {
    font-size: large;
}

/* мои изменения */
/* //comment */
