.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  border-color: black;
  &__details {
    max-width: 20%;
    margin: 20px;
    font-size: 10px;
  }
  &__price {
    justify-content: end;
    align-content: flex-end;

    text-align: right;

    max-width: 10%;
  }
}

/* мои изменения */
/* //comment */
