.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  &__details {
    flex-direction: row;
  }
  &__price {
    justify-content: end;
  }
}

/* мои изменения */
/* //comment */
