.registration {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    min-height: 500px;

    &__top {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 20px;
        color: #faa342;
    }

    &__container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: #fff;
        box-shadow: 5px 5px 5px 5px #9b9a9a;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 20px;
    }
}
