.home {
    &__container {
        max-width: 1450px;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        flex-wrap: nowrap;;

        &_titles {
            margin-top: 153px;
            max-width: 50%;
            z-index: 1;
        }

        &_title {
            font-family: 'Alumni Sans', sans-serif;
            font-size: 90px;
            font-weight: bold;
        }

        &_subtitle {
            font-size: 36px;
            font-weight: normal;
            white-space: nowrap;
            line-height: 25px;
        }

        &_buttons {
            display: flex;
            margin-top: 55px;
            gap: 39px;
        }

        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 276px;
            height: 82px;
            border: 1px solid #FAA342;
            border-radius: 15px;
            font-family: 'Montserrat', sans-serif;
            background-color: #fff;
            color: #212336;
            font-size: 26px;
        }

        &_item-picture {
            max-width: 50%;
        }

        &_picture {
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        display: flex;
        margin-top: 110px;
        gap: 119px;
        font-family: 'Montserrat', sans-serif;

        &_box {
            display: flex;
            flex-direction: column;
        }


        &_title {
            font-size: 35px;
            margin-bottom: 20px;
        }

        &_list {
            line-height: 56px;
            font-size: 25px;

            &-dot {
                color: #FAA342;
            }
        }
    }

    &__workers {
        margin-top: 110px;
        height: 946px;

        &_title {
            font-size: 35px;
        }

        &_subtitle {
            font-size: 32px;
            font-weight: 100;
            line-height: 56px;
        }
    }


}

@media (max-width: 1300px) {
    .home {
        &__top {
            &_titles {
                margin-top: 57px;
            }

            &_title {
                font-size: 70px;
            }

            &_subtitle {
                font-size: 30px;
                white-space: normal;
                line-height: 30px;
            }

            &_picture {
                margin-top: -12px;
            }

            &_buttons {
                margin-top: 34px;
            }

            &_button {
                width: 180px;
                height: 55px;
                font-size: 20px;
            }
        }

    &__text {
        margin-top: 70px;

        &_title {
            font-size: 30px;
            margin-bottom: 20px;
        }

        &_list {
            line-height: 43px;
            font-size: 20px;
    }
}
&__workers {
    margin-top: 70px;

    &_title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    &_subtitle {
        font-size: 20px;
        line-height: 29px;
    }
}
}
}

@media (max-width: 990px) {
    .home {
        &__top {

        &_titles {
            max-width: 100%;
            z-index: -100;
        }

        &_item-picture {
            display: none;
        }
    }
    &__text {
        gap: 53px;
        flex-direction: column;

        &_title {
            font-size: 30px;
        }

        &_list {
            line-height: 43px;
            font-size: 20px;
    }
}
}
}