$order-orange: #f97b22;
$order-beige: #fee8b0;
$order-black: #000000;
$order-white: #ffffff;

.order {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    gap: 20px;
    border-radius: 8px;
    background-color: $order-beige;
    color: $order-black;

    h1 {
        color: $order-orange;
    }

    .order__radios {
        margin-top: 20px;
        color: $order-black;

        label {
            color: $order-black;
        }
    }

    .order__button {
        background-color: $order-orange;
        color: $order-white;

        &:hover {
            background-color: darken($order-orange, 10%);
        }
    }
}
